nav {
    background-color: #602080;
  }
nav a {color: #ffffff;}  
nav a:hover {background-color:#007acc ;}
nav{ padding: 10px;}
nav {margin-bottom: 30px}
body {
    background-color:#f4f4f4;
  }
  body {
    color:#333333;
  }
  a {
    color: #007acc;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #73087d;
  }
.center{text-align: center;}
.tab { border: 1px solid black;
  border-collapse: collapse;}
  .tab , th , td  {
    border: 1px solid black;
    padding: 8px;
  }
  .skills{display: flex;}
  .back {background-color: #518fa3;
    border-radius: 10px; }
  h2 {font-family: Arial, Helvetica, sans-serif;
  color: #35374B;}
  p{color: #333333;}
  .all {display: flex;}

  .skills{ flex: 3; justify-content: space-around;}
  .back {flex: 1; padding: 20px;
  }
body {font-size: larger;}
p {margin: 25px;}

.mypic {max-width: 100%;}
.row2 {flex-wrap: wrap;}
nav span {color: #e3ede7;}


@media only screen and (max-width: 768px) nav {
  flex-direction: column;
  align-items: center; 

} nav a {
        display: block; 
        max-width: 100%; }

        nav a {
          margin: 5px 0; }
  
          span{
            display: none;}


           
          @media only screen and (min-width: 769px)
          { nav  {display: flex;}
        nav a {float: left;  margin-right:  5px;
        margin-left: 5px; }
        span {display: inline;}
        nav {max-width: 100% ;
        } 
      }