nav {
    background-color: #d54ca8;
  }
nav a {color: #06612b;}  
nav a:hover {background-color: #21aad7;}
nav{ padding: 10px;}
nav {margin-bottom: 30px}
body {
    background-color: #d8b7c9;
  }
  body {
    color: #344955;
  }
  a {
    color: #35374B;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #73087d;
  }
