h1{color: rgb(255, 0, 221);}
p, table{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} 
p {color: rgb(0, 139, 32);}
.fcolor {color: lightcyan}
.evenrow  {background-color: palevioletred;}
h1{font-size: 3em;}
h2{font-size: 2em;}
